# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Images
# Only list images that are not used in the project
# 2020_08_Highline.webp
2020_08_LoganPass.webp
# 2020_08_Wildflowers.webp
# 2020_09_Pond.webp
2020_09_Sunset.webp
2021_05_Kolob.webp
# 2021_05_Redcliff.webp
2021_07_RockySummit.webp
2023_10_Beach.webp
2023_10_BeachBird.webp
2024_03_SandDunePass.webp
# 2024_03_SandyCrack.webp
2024_05_TwilightLake.webp
# 2024_07_Olympus.webp
# 2024_08_Hiawatha.webp
2019_08_CrimsonTrail.webp
2019_09_LoganGrass.webp
2020_07_TetonWaterfront.webp
# 2020_08_AvalancheLake.webp
2020_08_MaryLake.webp
2020_09_CrimsonTrail.webp
2021_07_RockyPlateau.webp
# 2022_02_Engagement.webp
2022_07_Shenandoah.webp
2022_08_ParkCity.webp
2022_08_ProvoTemple.webp
2023_05_Graduation.webp
2024_07_OlympusSummit.webp
2024_08_Forest.webp
2025_04_Conference.webp
